# Change Log
All notable changes to this project will be documented in this file.

The format is based on http://keepachangelog.com/[Keep a Changelog]
and this project adheres to http://semver.org/[Semantic Versioning].

## [Unreleased] - yyyy-mm-dd

Here we write upgrading notes for brands. It's a team effort to make them as
straightforward as possible.

### Added
- http://tickets.projectname.com/browse/PROJECTNAME-XXXX[PROJECTNAME-XXXX]
  MINOR Ticket title goes here.
- http://tickets.projectname.com/browse/PROJECTNAME-YYYY[PROJECTNAME-YYYY]
  PATCH Ticket title goes here.

### Changed

### Fixed

## [1.2.4] - 2017-03-15

Here we would have the update steps for 1.2.4 for people to follow.

### Added

### Changed

- http://tickets.projectname.com/browse/PROJECTNAME-ZZZZ[PROJECTNAME-ZZZZ]
  PATCH Drupal.org is now used for composer.

### Fixed

- http://tickets.projectname.com/browse/PROJECTNAME-TTTT[PROJECTNAME-TTTT]
  PATCH Add logic to runsheet teaser delete to delete corresponding
  schedule cards.

## [1.2.3] - 2017-03-14

### Added

### Changed

### Fixed

- http://tickets.projectname.com/browse/PROJECTNAME-UUUU[PROJECTNAME-UUUU]
  MINOR Fix module foo tests
- http://tickets.projectname.com/browse/PROJECTNAME-RRRR[PROJECTNAME-RRRR]
  MAJOR Module foo's timeline uses the browser timezone for date resolution