menu: {
    side: 'left',
    width: 'normal',
    numbers: true,
    titleSelector: 'h1, h2, h3, h4, h5, h6',
    useTextContentForMissingTitles: false,
    hideMissingTitles: false,
    markers: true,
    custom: false,
    themesPath: 'reveal.js/css/theme/',
    transitions: ['None', 'Fade', 'Slide', 'Convex', 'Concave', 'Zoom'],
    openButton: true,
    openSlideNumber: false,
    keyboard: true,
    sticky: false,
    autoOpen: true,
    delayInit: false,
    openOnInit: false,
    loadIcons: true,
    themes: [
     { name: 'Beige', theme: 'reveal.js/css/theme/beige.css' },
     { name: 'Black', theme: 'reveal.js/css/theme/black.css' },
     { name: 'Blood', theme: 'reveal.js/css/theme/blood.css' },
     { name: 'League', theme: 'reveal.js/css/theme/league.css' },
     { name: 'Moon', theme: 'reveal.js/css/theme/moon.css' },
     { name: 'Nigh', theme: 'reveal.js/css/theme/night.css' },
     { name: 'Serif', theme: 'reveal.js/css/theme/serif.css' },
     { name: 'Simple', theme: 'reveal.js/css/theme/simple.css' },
     { name: 'Sky', theme: 'reveal.js/css/theme/sky.css' },
     { name: 'Solarized', theme: 'reveal.js/css/theme/solarized.css' },
     { name: 'White', theme: 'reveal.js/css/theme/white.css' },
    ],
},

chalkboard: {
    toggleChalkboardButton: { left: "80px" },
    toggleNotesButton: { left: "130px" },
    pen:  [ 'crosshair', 'pointer' ],
    theme: "whiteboard",
},