= Project: {{ projectName }}:{{ projectVersion }}
Authors <{{ projectAuthors }}>
Email <{{ contactEmail }}>

== Introduction


* This is an example deck.
* This deck teaches something.
* We just haven't decided what that is yet.

== Diagram

[plantuml, diagram-class, png]
....
class BlockProcessor
class DiagramBlock
class DitaaBlock
class PlantUmlBlock

BlockProcessor <|-- DiagramBlock
DiagramBlock <|-- DitaaBlock
DiagramBlock <|-- PlantUmlBlock
....
